.wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8pt;
    transition: background-color ease-in-out 200ms;

    &:hover {
        background-color: #f2f2f2;
    }
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 100%;
}

.button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    color: black;
}
