.wrapper {
    display: flex;
    align-items: center;
    border-radius: 8pt;
    text-decoration: none;
    color: black;
}

.wrapper:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}
