.wrapper {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  max-width: 600px  ;
  margin: auto;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-input {
  display: flex;
  gap: 0.5rem;
}
