.searchbar {
    width: 500pt;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 1.5px solid transparent;

    &:focus-within {
        border-color: #868686;
    }
}

.clear-input,
.loading-icon {
    height: 50%;
    padding-left: 5px;

    &:hover {
        cursor: pointer;
    }
}

.search-btn {
    display: flex;
    align-items: center;
    padding: 10pt;
    height: 100%;
    border-radius: 20px;
    color: #868686;

    &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

    &.active {
        color: black;
    }
}

.search-input {
    border: none;
    width: 100%;
    margin-left: 10pt;
    outline: none;
}

.search-result {
    width: 500pt;
    border-radius: 8pt;
}
