.layout {
  position: sticky;
  top: 0;
}

.layout-content {
  display: flex;
  width: 100%;
  padding-top: 50px;
  height: 100vh;
}

.main-block {
  flex: 5.5;
  max-height: 100vh;
  overflow-y: scroll;
}
