.item {
    color: black;
    padding: 10pt;
    border-radius: 8pt;
    cursor: pointer;
    text-decoration: none !important;
    display: block;

    &:hover {
        background-color: #f1f1f1;
    }
}

.menu-btn {
    cursor: pointer;
}
